html,
body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  overflow-x: hidden;
}

main {
  width: -webkit-fill-available;
  max-width: 640px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
}

main > * {
  width: -webkit-fill-available;
}

hr {
  border: none;
  border-top: 1px solid #888;
  margin: 0;
}

button {
  width: -webkit-fill-available;
}
